<app-canezera></app-canezera>
<main id="main">
    <div class="contenedor sombra">
        <form id="frmDatos" action="#">
            <legend>Login</legend>
            <div class="campos">
                <h3>Te damos la bienvenida a tuTicket.com</h3>
                <input type="email" placeholder="Correo electrónico" id="correo">
                <input type="password" placeholder="Contraseña" id="contraseña">
                <div class="registro">
                    <p>Si aún no te registras, <a href="/inicioSesion">regístrate acá</a></p>
                </div>
                <input type="submit" value="Continúa" id="enviar">
            </div>
        </form>
    </div>
  </main>
  <footer id="footer">

  </footer>
